%% -*- erlang -*-
[{flood, [{max_clients, 1000000}]},
 {lager, [{handlers, [{lager_console_backend, notice},
                      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
                     ]}
         ]}].
