%% -*- erlang -*-
{erl_opts, [{parse_transform, lager_transform}]}.
{deps, [{websocket_client, ".*", {git, "git://github.com/Idorobots/websocket_client.git", {branch, "master"}}},
        {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
        {jsonx, ".*", {git, "git://github.com/iskra/jsonx.git", "a8381a34d126a93eded62c248989dd0529cd257d"}},
        {folsom, ".*", {git, "git://github.com/boundary/folsom.git", {branch, "master"}}},
        {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", {branch, "master"}}}]}.
